[[plugins]]
repo             = 'kana/vim-submode'
on_event         = 'BufNewFile'
hook_port_source = '''
  call submode#enter_with('bufmove', 'n', '', 's>', '<C-w>>')
  call submode#enter_with('bufmove', 'n', '', 's<', '<C-w><')
  call submode#enter_with('bufmove', 'n', '', 's+', '<C-w>+')
  call submode#enter_with('bufmove', 'n', '', 's-', '<C-w>-')
  call submode#map('bufmove', 'n', '', '>', '<C-w>>')
  call submode#map('bufmove', 'n', '', '<', '<C-w><')
  call submode#map('bufmove', 'n', '', '+', '<C-w>+')
  call submode#map('bufmove', 'n', '', '-', '<C-w>-')
'''

[[plugins]]
repo  = 'cespare/vim-toml'
on_ft = ['toml']

# vim起動中に実行
[[plugins]]
repo  = 'thinca/vim-quickrun'
on_ft = ["ruby", "python", "perl"]

[[plugins]]
repo = 'Shougo/neosnippet-snippets'

[[plugins]]
repo      = 'Shougo/neosnippet.vim'
depends   = ['context_filetype.vim', 'neosnippet-snippets']
on_event  = 'InsertCharPre'
hook_post_source = '''
imap <C-k> <Plug>(neosnippet_expand_or_jump)
smap <C-k> <Plug>(neosnippet_expand_or_jump)
xmap <C-k> <Plug>(neosnippet_expand_target)
let g:neosnippet#enable_snipmate_compatibility = 1
let g:neosnippet#enable_completed_snippet      = 1
let g:neosnippet#expand_word_boundary          = 1
'''

#入力補助
[[plugins]]
repo      = 'kana/vim-smartinput'
on_event  = 'InsertCharPre'
hook_post_source = '''
call smartinput#map_to_trigger('i', '<Space>', '<Space>', '<Space>')
call smartinput#define_rule({
\   'at'    : '(\%#)',
\   'char'  : '<Space>',
\   'input' : '<Space><Space><Left>',
\   })
call smartinput#define_rule({
\   'at'    : '( \%# )',
\   'char'  : '<BS>',
\   'input' : '<Del><BS>',
\   })
call smartinput#map_to_trigger('i', '#', '#', '#')
call smartinput#define_rule({
\   'at'       : '\%#',
\   'char'     : '#',
\   'input'    : '#{}<Left>',
\   'filetype' : ['ruby'],
\   'syntax'   : ['Constant', 'Special'],
\   })
call smartinput#map_to_trigger('i', '<Bar>', '<Bar>', '<Bar>')
call smartinput#define_rule({
\   'at' : '\({\|\<do\>\)\s*\%#',
\   'char' : '<Bar>',
\   'input' : '<Bar><Bar><Left>',
\   'filetype' : ['ruby'],
\    })
call smartinput_endwise#define_default_rules()
'''

[[plugins]]
repo      = "cohama/vim-smartinput-endwise"
on_source = "vim-smartinput"

# [vue]---------------------------------------------
#Vim syntax highlighting for Vue components.
[[plugins]]
repo  = 'posva/vim-vue'
on_ft = ['vue']
hook_post_source='''
let g:ft = ''
function! NERDCommenter_before()
  if &ft == 'vue'
    let g:ft = 'vue'
    let stack = synstack(line('.'), col('.'))
    if len(stack) > 0
      let syn = synIDattr((stack)[0], 'name')
      if len(syn) > 0
        exe 'setf ' . substitute(tolower(syn), '^vue_', '', '')
      endif
    endif
  endif
endfunction
function! NERDCommenter_after()
  if g:ft == 'vue'
    setf vue
    let g:ft = ''
  endif
endfunction
'''
# [typescript]--------------------------------------
[[plugins]]
repo  = 'leafgarland/typescript-vim'
on_ft = ['typescript']


# [python]--------------------------------------
[[plugins]]
repo  = 'hdima/python-syntax'
on_ft = ['python']

# [markdown]--------------------------------------
[[plugins]]
repo  = 'plasticboy/vim-markdown'
on_ft = ['markdown']
hook_post_source='''
let g:vim_markdown_folding_disabled = 1
'''

[[plugins]]
repo  = 'godlygeek/tabular'
on_ft = ['markdown']


[[plugins]]
repo  = 'greyblake/vim-preview'
on_ft = ['markdown']

# [slim]--------------------------------------
[[plugins]]
repo  = 'slim-template/vim-slim'
on_ft = ['slim']
hook_post_source='''
autocmd BufRead,BufNewFile *.slim setfiletype slim
'''

# [terraform]--------------------------------------
[[plugins]]
repo  = 'hashivim/vim-terraform'
on_ft = ['terraform']
